package {{packageName}};

import javax.ws.rs.core.UriInfo;
import javax.ws.rs.core.UriBuilder;
import java.net.URI;

public class {{simpleClassName}} {

    private final UriInfo uriInfo;

    public {{simpleClassName}}(UriInfo uriInfo) {
        this.uriInfo = uriInfo;
    }

    {{#rootResources}}

    public {{className}}Links {{methodName}}() {
        return new {{className}}Links(uriInfo.getBaseUriBuilder().path({{type}}.class));
    }

{{>resource}}
    {{/rootResources}}

}
